name: ci

on:
  release:
    types: [published]

jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      IMAGE: peter87623/tmp
      TAGS: |
        type=ref,event=branch
        type=ref,event=pr
        type=semver,pattern={{version}}
        type=semver,pattern={{major}}.{{minor}}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1
        with:
          image: tonistiigi/binfmt:latest
          platforms: all
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Docker meta alpine
        id: meta-alpine
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.IMAGE }}
          tags: |
            ${{ !github.event.release.prerelease && "type=raw,prefix=,suffix=,value=alpine" }}
            ${{ env.TAGS }}
          flavor: |
            latest=${{ !github.event.release.prerelease }}
            suffix=-alpine
      -
        name: Docker meta bullseye
        id: meta-bullseye
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.IMAGE }}
          tags: |
            ${{ !github.event.release.prerelease && "type=raw,prefix=,suffix=,value=bullseye" }}
            ${{ env.TAGS }}
          flavor: |
            latest=false
            suffix=-bullseye
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push alpine
        uses: docker/bake-action@v1
        with:
          files: |
            ./docker-bake.hcl
            ${{ steps.meta-alpine.outputs.bake-file }}
          targets: alpine
          push: true
      -
        name: Build and push bullseye
        uses: docker/bake-action@v1
        with:
          files: |
            ./docker-bake.hcl
            ${{ steps.meta-bullseye.outputs.bake-file }}
          targets: bullseye
          push: true
